*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

body{
    width: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    height: 100vh;
    line-height: 1.7;
    word-spacing: 3px;
}

header{
    padding-top: 2rem;
}

header h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    color: rgb(130, 62, 255);
}

footer{
    padding-bottom: 2rem;
}